:root{
    margin: 0;
    padding: 0;
}
.date_section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.date_section div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

input, select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.common-fields {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.common-fields label {
    margin: 0;
}

.row {
    display: flex;
    align-items: center;
    gap: 20px;
}

.column {
    display: flex;

}
.column div{
    display: flex;
    align-items: center;
    text-align: center;
}

label {
    margin-bottom: 5px;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

legend {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="radio"] {
    margin-right: 5px;
}

